[Unit]
Description=Read MAC out of EEPROM
Wants=network-pre.target
Before=network-pre.target
BindsTo=sys-subsystem-net-devices-eth0.device
After=sys-subsystem-net-devices-eth0.device

[Service]
Type=oneshot
ExecStart=/usr/bin/python /home/pi/Set_ENC28J60_MAC.py /home/pi/Set_ENC28J60_MAC.log 2>&1

[Install]
WantedBy=multi-user.target
